.expenses{
    float: left;
    width:20.25%;
    margin-left:2.6%;
    margin-top:2%;
    height:12.3%;
    border-radius: 30px;
    background: #F8FBFF;
    box-shadow: 0px 4px 8px -2px rgba(0, 79, 149, 0.25);
}
.expenses-text{
    color: #004F95;
    text-align: center;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 73.373%;
    text-transform: capitalize;
}