.total-incident{
    float: left;
    width:85.4%;
    margin-left:2.6%;
    margin-top:6%;
    height:26.35%;
    border-radius: 30px;
    background: #F8FBFF;
    box-shadow: 0px 4px 8px -2px rgba(0, 79, 149, 0.25);
}
.total-incident-recorded{
    margin-left: 5.6%;
    color: var(--primary, #004F95);
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.total-incident-dropdown{
    display: flex;
    flex-direction: row;
    margin-left: 5.46%;
    text-align: center;
}
.total-incident-days{
    width:6.15%;
    height:44px;
    border: 1px solid #7A7A7A;
    border-radius: 5px 0px 0px 5px;
}

.total-incident-week{
    width:6.15%;
    height:44px;
    border: 1px solid #7A7A7A;
    background: var(--primary, #004F95);
    color: white;
}

.total-incident-month{
    width:6.15%;
    height:44px;
    border: 1px solid #7A7A7A;
}

.total-incident-custom{
    width:6.15%;
    height:44px;
    border-radius: 0px 5px 5px 0px;
    border: 1px solid #7A7A7A;
}

.total-incident-dropdown-text{
    position: relative;
    top:-5px;
}

.total-incident-recorded-text{
    width:6.15%;
    height:44px;
    margin-left:55%;
    border-radius: 5px 0px 0px 5px;
    color: white;
    background: var(--primary, #004F95);
}
.total-incident-cleared-text{
    width:6.15%;
    height:43px;
    border-radius: 0px 5px 5px 0px;
    border: 1px solid #7A7A7A;
}

.total-incident-axis-names{
    display: flex;
    flex-direction: row;
    margin-left: 38%;
}
.total-incident-axis-names-x-axis, .total-incident-axis-names-y-axis{
    display: flex;
    margin: 3px;
    font-family: Futura Md BT;
    font-size: 20px;
}
.total-incident-axis-names-x-axis-text1,.total-incident-axis-names-y-axis-text1{
    margin-right: 5px;
    color: #004F95;
    font-weight: 400;
}
.total-incident-axis-names-y-axis-text1{
    margin-left: 80px;
}